.breadcrumbs_root {
  @media screen and (max-width: 600px) {
    overflow: hidden;;
  }
}

.breadcrumb {
  text-decoration: none;
  color: var(--mantine-color-purple-4);
  font-size: var(--mantine-font-size-sm);
  line-height: 125%;
}