.production_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.production_item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.production_logo {
  object-fit: scale-down;
  border: 1px solid gray;
  border-radius: 50%;
}

.trailer_frame {
  border-radius: 0.5rem;
  border: 3px solid gray ;
}