.stats_container {
  display: flex;
  gap: 1.35rem;
  line-height: 1.25rem;

  @media screen and (max-width: 950px) {
    justify-content: center;
  }
}

.content_list {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info_title {
  width: max-content;
  color: var(--mantine-color-gray_scale-5);
}