.navigation {
  width: 280px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex: 0 0 auto;
  background-color: var(--mantine-color-purple-0);
}

/* .navigation_header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--mantine-color-purple-4);
} */

.navigation_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav_link_root {
  padding: 0.55rem;
  background-color: transparent;
  color: var(--mantine-color-text);
}

.nav_link_label {
  font-size: var(--mantine-font-size-md);
}

.nav_link_root:hover {
  color: var(--mantine-color-purple-3);
  background-color: transparent;
}

.nav_link_root[data-active] {
  color: var(--mantine-color-purple-4);
  background-color: var(--mantine-color-purple-1);
  border-radius: 0.5rem;
  font-weight: 700;
}
