.page_content {
  /* display: flex;
  justify-content: center; */
}
.wrapper {
  max-width: 1440px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

.main_content {
  padding: 2.6rem 5.625rem 5.125rem;
}