.search_container {
  display: flex;
  flex-direction: column;
  gap: 2.65rem;

  @media screen and (max-width: 700px) {
    gap: 1.5rem;
  }
}

.search_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pagination_root {
  display: flex;
  justify-content: flex-end;
}

