.input_wrapper {
  width: 30.625rem;
  --input-height: 3rem;
}

.input {
  padding-inline-end: 7.75rem;
  padding-inline-start: 2.25rem;
  border-color: var(--mantine-color-gray_scale-2);
}

.input_section[data-position="right"] {
  --section-end: 1px;
}