.content {
  width: 30.125rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

.description_container {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.genres_container {
  gap: 0.5rem;
  display: flex;
}

.genres_title {
  color: var(--mantine-color-gray_scale-5);
  line-height: 121%;
}

.genres {
  line-height: 125%;
}