
.group_root {
  @media screen and (max-width: 1440px) {
    justify-content: center;
  }
}

.pagination_control {
  border-color: var(--mantine-color-gray_scale-2);
  line-height: var(--mantine-line-height-xs);
}