.option:hover {
  background-color: var(--mantine-color-purple-0);
}

.pill {
  background-color: transparent;
  font-size: 14px;
}

.pill button {
  display: none;
}

.option[data-combobox-active] {
  background-color: var(--mantine-color-purple-4);
  color: #ffffff;
}